# 导入所需库
导入pandas和numpy库。

In [1]:
import pandas as pd
import numpy as np

# 读取数据
使用pandas的read_csv函数读取CSV文件：summerOly_athletes.csv、summerOly_hosts.csv、summerOly_medal_counts.csv、summerOly_programs.csv。

In [4]:
# 读取数据

# 使用pandas的read_csv函数读取CSV文件
athletes_df = pd.read_csv(r'D:\mcm2025\data\2025_Problem_C_Data\2025_Problem_C_Data\summerOly_athletes.csv', encoding='ISO-8859-1')
hosts_df = pd.read_csv(r'D:\mcm2025\data\2025_Problem_C_Data\2025_Problem_C_Data\summerOly_hosts.csv', encoding='ISO-8859-1')
medal_counts_df = pd.read_csv(r'D:\mcm2025\data\2025_Problem_C_Data\2025_Problem_C_Data\summerOly_medal_counts.csv', encoding='ISO-8859-1')
programs_df = pd.read_csv(r'D:\mcm2025\data\2025_Problem_C_Data\2025_Problem_C_Data\summerOly_programs.csv', encoding='ISO-8859-1')

# 显示每个数据框的前5行数据
print(athletes_df.head())
print(hosts_df.head())
print(medal_counts_df.head())
print(programs_df.head())

                    Name Sex            Team  NOC  Year         City  \
0              A Dijiang   M           China  CHN  1992    Barcelona
1               A Lamusi   M           China  CHN  2012       London
2            Gunnar Aaby   M         Denmark  DEN  1920    Antwerpen
3            Edgar Aabye   M  Denmark/Sweden  DEN  1900        Paris
4  Cornelia (-strannood)   F     Netherlands  NED  1932  Los Angeles

        Sport                         Event     Medal
0  Basketball   Basketball Men's Basketball  No medal
1        Judo  Judo Men's Extra-Lightweight  No medal
2    Football       Football Men's Football  No medal
3  Tug-Of-War   Tug-Of-War Men's Tug-Of-War      Gold
4   Athletics  Athletics Women's 100 metres  No medal
   ï»¿Year                         Host
0     1896            Â Athens,Â Greece
1     1900             Â Paris,Â France
2     1904  Â St. Louis,Â United States
3     1908    Â London,Â United Kingdom
4     1912         Â Stockholm,Â Sweden
   Rank            NOC  Gold  Silver  Bronze  Total  Year
0     1  United States    11       7       2     20  1896
1     2         Greece    10      18      19     47  1896
2     3        Germany     6       5       2     13  1896
3     4         France     5       4       2     11  1896
4     5  Great Britain     2       3       2      7  1896
      Sport         Discipline Code Sports Governing Body 1896 1900 1904  \
0  Aquatics  Artistic Swimming  SWA        World Aquatics    0    0    0
1  Aquatics             Diving  DIV        World Aquatics    0    0    2
2  Aquatics  Marathon Swimming  OWS        World Aquatics    0    0    0
3  Aquatics           Swimming  SWM        World Aquatics    4    7    9
4  Aquatics         Water Polo  WPO        World Aquatics    0    1    1

   1906*  1908 1912  ...  1988 1992  1996  2000  2004  2008  2012  2016  2020  \
0      0     0    0  ...     2    2   1.0   2.0   2.0   2.0   2.0   2.0   2.0
1      1     2    4  ...     4    4   4.0   8.0   8.0   8.0   8.0   8.0   8.0
2      0     0    0  ...     0    0   0.0   0.0   0.0   2.0   2.0   2.0   2.0
3      4     6    9  ...    31   31  32.0  32.0  32.0  32.0  32.0  32.0  35.0
4      0     1    1  ...     1    1   1.0   2.0   2.0   2.0   2.0   2.0   2.0

   2024
0   2.0
1   8.0
2   2.0
3  35.0
4   2.0

[5 rows x 35 columns]

# 查看数据基本信息
使用head()、info()和describe()函数查看每个数据集的基本信息。

In [5]:
# 查看数据基本信息

# 使用head()函数查看每个数据集的前5行数据
print(athletes_df.head())
print(hosts_df.head())
print(medal_counts_df.head())
print(programs_df.head())

# 使用info()函数查看每个数据集的基本信息
print(athletes_df.info())
print(hosts_df.info())
print(medal_counts_df.info())
print(programs_df.info())

# 使用describe()函数查看每个数据集的统计信息
print(athletes_df.describe())
print(hosts_df.describe())
print(medal_counts_df.describe())
print(programs_df.describe())

                    Name Sex            Team  NOC  Year         City  \
0              A Dijiang   M           China  CHN  1992    Barcelona
1               A Lamusi   M           China  CHN  2012       London
2            Gunnar Aaby   M         Denmark  DEN  1920    Antwerpen
3            Edgar Aabye   M  Denmark/Sweden  DEN  1900        Paris
4  Cornelia (-strannood)   F     Netherlands  NED  1932  Los Angeles

        Sport                         Event     Medal
0  Basketball   Basketball Men's Basketball  No medal
1        Judo  Judo Men's Extra-Lightweight  No medal
2    Football       Football Men's Football  No medal
3  Tug-Of-War   Tug-Of-War Men's Tug-Of-War      Gold
4   Athletics  Athletics Women's 100 metres  No medal
   ï»¿Year                         Host
0     1896            Â Athens,Â Greece
1     1900             Â Paris,Â France
2     1904  Â St. Louis,Â United States
3     1908    Â London,Â United Kingdom
4     1912         Â Stockholm,Â Sweden
   Rank            NOC  Gold  Silver  Bronze  Total  Year
0     1  United States    11       7       2     20  1896
1     2         Greece    10      18      19     47  1896
2     3        Germany     6       5       2     13  1896
3     4         France     5       4       2     11  1896
4     5  Great Britain     2       3       2      7  1896
      Sport         Discipline Code Sports Governing Body 1896 1900 1904  \
0  Aquatics  Artistic Swimming  SWA        World Aquatics    0    0    0
1  Aquatics             Diving  DIV        World Aquatics    0    0    2
2  Aquatics  Marathon Swimming  OWS        World Aquatics    0    0    0
3  Aquatics           Swimming  SWM        World Aquatics    4    7    9
4  Aquatics         Water Polo  WPO        World Aquatics    0    1    1

   1906*  1908 1912  ...  1988 1992  1996  2000  2004  2008  2012  2016  2020  \
0      0     0    0  ...     2    2   1.0   2.0   2.0   2.0   2.0   2.0   2.0
1      1     2    4  ...     4    4   4.0   8.0   8.0   8.0   8.0   8.0   8.0
2      0     0    0  ...     0    0   0.0   0.0   0.0   2.0   2.0   2.0   2.0
3      4     6    9  ...    31   31  32.0  32.0  32.0  32.0  32.0  32.0  35.0
4      0     1    1  ...     1    1   1.0   2.0   2.0   2.0   2.0   2.0   2.0

   2024
0   2.0
1   8.0
2   2.0
3  35.0
4   2.0

[5 rows x 35 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252565 entries, 0 to 252564
Data columns (total 9 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Name    252565 non-null  object
 1   Sex     252565 non-null  object
 2   Team    252565 non-null  object
 3   NOC     252565 non-null  object
 4   Year    252565 non-null  int64
 5   City    252565 non-null  object
 6   Sport   252565 non-null  object
 7   Event   252565 non-null  object
 8   Medal   252565 non-null  object
dtypes: int64(1), object(8)
memory usage: 17.3+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ï»¿Year  35 non-null     int64
 1   Host     35 non-null     object
dtypes: int64(1), object(1)
memory usage: 688.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1435 entries, 0 to 1434
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rank    1435 non-null   int64
 1   NOC     1435 non-null   object
 2   Gold    1435 non-null   int64
 3   Silver  1435 non-null   int64
 4   Bronze  1435 non-null   int64
 5   Total   1435 non-null   int64
 6   Year    1435 non-null   int64
dtypes: int64(6), object(1)
memory usage: 78.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74 entries, 0 to 73
Data columns (total 35 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Sport                  74 non-null     object
 1   Discipline             72 non-null     object
 2   Code                   74 non-null     object
 3   Sports Governing Body  74 non-null     object
 4   1896                   74 non-null     object
 5   1900                   74 non-null     object
 6   1904                   74 non-null     object
 7   1906*                  74 non-null     int64
 8   1908                   74 non-null     int64
 9   1912                   74 non-null     object
 10  1920                   74 non-null     int64
 11  1924                   74 non-null     object
 12  1928                   72 non-null     object
 13  1932                   72 non-null     object
 14  1936                   72 non-null     object
 15  1948                   72 non-null     object
 16  1952                   72 non-null     float64
 17  1956                   72 non-null     object
 18  1960                   72 non-null     float64
 19  1964                   72 non-null     object
 20  1968                   72 non-null     object
 21  1972                   72 non-null     object
 22  1976                   72 non-null     float64
 23  1980                   72 non-null     float64
 24  1984                   72 non-null     object
 25  1988                   71 non-null     object
 26  1992                   72 non-null     object
 27  1996                   72 non-null     float64
 28  2000                   72 non-null     float64
 29  2004                   72 non-null     float64
 30  2008                   72 non-null     float64
 31  2012                   72 non-null     float64
 32  2016                   72 non-null     float64
 33  2020                   72 non-null     float64
 34  2024                   72 non-null     float64
dtypes: float64(12), int64(3), object(20)
memory usage: 20.4+ KB
None
                Year
count  252565.000000
mean     1981.743908
std        32.596548
min      1896.000000
25%      1960.000000
50%      1988.000000
75%      2008.000000
max      2024.000000
           ï»¿Year
count    35.000000
mean   1964.000000
std      40.987803
min    1896.000000
25%    1930.000000
50%    1964.000000
75%    1998.000000
max    2032.000000
              Rank         Gold       Silver       Bronze        Total  \
count  1435.000000  1435.000000  1435.000000  1435.000000  1435.000000
mean     30.334495     4.048084     4.025784     4.384669    12.458537
std      21.920604     8.390142     7.100987     6.822294    21.582579
min       1.000000     0.000000     0.000000     0.000000     1.000000
25%      12.000000     0.000000     0.000000     1.000000     2.000000
50%      26.000000     1.000000     2.000000     2.000000     5.000000
75%      43.500000     4.000000     4.000000     5.000000    13.000000
max      86.000000    83.000000    78.000000    77.000000   231.000000

              Year
count  1435.000000
mean   1981.828571
std      34.188111
min    1896.000000
25%    1960.000000
50%    1992.000000
75%    2008.000000
max    2024.000000
           1906*        1908        1920        1952        1960        1976  \
count  74.000000   74.000000   74.000000   72.000000   72.000000   72.000000
mean    2.378378    3.608108    4.905405    4.694444    4.722222    6.166667
std     9.463271   13.566495   18.826656   18.174924   18.325094   23.987086
min     0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%     0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
50%     0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
75%     0.000000    2.000000    2.750000    2.000000    2.000000    2.500000
max    76.000000  110.000000  156.000000  149.000000  150.000000  198.000000

             1980        1996        2000        2004        2008        2012  \
count   72.000000   72.000000   72.000000   72.000000   72.000000   72.000000
mean     6.305556    8.388889    9.263889    9.291667    9.347222    9.305556
std     24.568753   32.536677   35.893423   36.007604   36.141412   36.116649
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
50%      0.000000    1.000000    2.000000    2.000000    2.000000    2.000000
75%      2.500000    4.250000    8.000000    7.250000    7.250000    7.250000
max    203.000000  271.000000  300.000000  301.000000  302.000000  302.000000

             2016        2020        2024
count   72.000000   72.000000   72.000000
mean     9.472222   10.569444   10.250000
std     36.600228   40.482591   39.311952
min      0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000
50%      2.000000    2.000000    2.000000
75%      6.500000    8.000000    6.500000
max    306.000000  339.000000  329.000000

# 检查缺失值
使用isnull().sum()函数检查每个数据集中的缺失值情况。

In [6]:
# 检查缺失值

# 使用isnull().sum()函数检查每个数据集中的缺失值情况
print("athletes_df 缺失值情况：")
print(athletes_df.isnull().sum())

print("\nhosts_df 缺失值情况：")
print(hosts_df.isnull().sum())

print("\nmedal_counts_df 缺失值情况：")
print(medal_counts_df.isnull().sum())

print("\nprograms_df 缺失值情况：")
print(programs_df.isnull().sum())

athletes_df 缺失值情况：
Name     0
Sex      0
Team     0
NOC      0
Year     0
City     0
Sport    0
Event    0
Medal    0
dtype: int64

hosts_df 缺失值情况：
ï»¿Year    0
Host       0
dtype: int64

medal_counts_df 缺失值情况：
Rank      0
NOC       0
Gold      0
Silver    0
Bronze    0
Total     0
Year      0
dtype: int64

programs_df 缺失值情况：
Sport                    0
Discipline               2
Code                     0
Sports Governing Body    0
1896                     0
1900                     0
1904                     0
1906*                    0
1908                     0
1912                     0
1920                     0
1924                     0
1928                     2
1932                     2
1936                     2
1948                     2
1952                     2
1956                     2
1960                     2
1964                     2
1968                     2
1972                     2
1976                     2
1980                     2
1984                     2
1988                     3
1992                     2
1996                     2
2000                     2
2004                     2
2008                     2
2012                     2
2016                     2
2020                     2
2024                     2
dtype: int64

# 检查重复值
使用duplicated().sum()函数检查每个数据集中的重复值情况。

In [7]:
# 检查重复值

# 使用duplicated().sum()函数检查每个数据集中的重复值情况
print("athletes_df 重复值情况：")
print(athletes_df.duplicated().sum())

print("\nhosts_df 重复值情况：")
print(hosts_df.duplicated().sum())

print("\nmedal_counts_df 重复值情况：")
print(medal_counts_df.duplicated().sum())

print("\nprograms_df 重复值情况：")
print(programs_df.duplicated().sum())

athletes_df 重复值情况：
1466

hosts_df 重复值情况：
0

medal_counts_df 重复值情况：
0

programs_df 重复值情况：
0

# 数据清洗建议
根据缺失值和重复值的检查结果，提出数据清洗的建议。

In [8]:
# 数据清洗建议

# 根据缺失值和重复值的检查结果，提出数据清洗的建议

# 检查 athletes_df 的缺失值和重复值情况
athletes_missing = athletes_df.isnull().sum()
athletes_duplicates = athletes_df.duplicated().sum()

# 检查 hosts_df 的缺失值和重复值情况
hosts_missing = hosts_df.isnull().sum()
hosts_duplicates = hosts_df.duplicated().sum()

# 检查 medal_counts_df 的缺失值和重复值情况
medal_counts_missing = medal_counts_df.isnull().sum()
medal_counts_duplicates = medal_counts_df.duplicated().sum()

# 检查 programs_df 的缺失值和重复值情况
programs_missing = programs_df.isnull().sum()
programs_duplicates = programs_df.duplicated().sum()

# 打印数据清洗建议
print("数据清洗建议：\n")

# athletes_df 清洗建议
if athletes_missing.any() or athletes_duplicates > 0:
    print("athletes_df 清洗建议：")
    if athletes_missing.any():
        print("- 处理缺失值：")
        print(athletes_missing[athletes_missing > 0])
    if athletes_duplicates > 0:
        print("- 删除重复值")
    print()

# hosts_df 清洗建议
if hosts_missing.any() or hosts_duplicates > 0:
    print("hosts_df 清洗建议：")
    if hosts_missing.any():
        print("- 处理缺失值：")
        print(hosts_missing[hosts_missing > 0])
    if hosts_duplicates > 0:
        print("- 删除重复值")
    print()

# medal_counts_df 清洗建议
if medal_counts_missing.any() or medal_counts_duplicates > 0:
    print("medal_counts_df 清洗建议：")
    if medal_counts_missing.any():
        print("- 处理缺失值：")
        print(medal_counts_missing[medal_counts_missing > 0])
    if medal_counts_duplicates > 0:
        print("- 删除重复值")
    print()

# programs_df 清洗建议
if programs_missing.any() or programs_duplicates > 0:
    print("programs_df 清洗建议：")
    if programs_missing.any():
        print("- 处理缺失值：")
        print(programs_missing[programs_missing > 0])
    if programs_duplicates > 0:
        print("- 删除重复值")
    print()

数据清洗建议：

athletes_df 清洗建议：
- 删除重复值

programs_df 清洗建议：
- 处理缺失值：
Discipline    2
1928          2
1932          2
1936          2
1948          2
1952          2
1956          2
1960          2
1964          2
1968          2
1972          2
1976          2
1980          2
1984          2
1988          3
1992          2
1996          2
2000          2
2004          2
2008          2
2012          2
2016          2
2020          2
2024          2
dtype: int64

## 处理缺失数据

In [15]:
# 使用0填充所有缺失值
programs_df.fillna(0, inplace=True)

# 检查清洗后的缺失值
print("\nPrograms DataFrame Missing Values After Cleaning:")
print(programs_df.isnull().sum())

Programs DataFrame Missing Values After Cleaning:
Sport                    0
Discipline               0
Code                     0
Sports Governing Body    0
1896                     0
1900                     0
1904                     0
1906*                    0
1908                     0
1912                     0
1920                     0
1924                     0
1928                     0
1932                     0
1936                     0
1948                     0
1952                     0
1956                     0
1960                     0
1964                     0
1968                     0
1972                     0
1976                     0
1980                     0
1984                     0
1988                     0
1992                     0
1996                     0
2000                     0
2004                     0
2008                     0
2012                     0
2016                     0
2020                     0
2024                     0
dtype: int64

# 存储处理后的数据 

存储为summerOly_athletes_processed.csv、summerOly_hosts_processed.csv、summerOly_medal_counts_processed.csv、summerOly_programs_processed.csv

In [19]:
# 使用to_csv()函数保存数据集
athletes_df.to_csv(r'D:\mcm2025\data\2025_Problem_C_Data\2025_Problem_C_Data\processed\athletes.csv', index=False)
hosts_df.to_csv(r'D:\mcm2025\data\2025_Problem_C_Data\2025_Problem_C_Data\processed\hosts.csv', index=False)
medal_counts_df.to_csv(r'D:\mcm2025\data\2025_Problem_C_Data\2025_Problem_C_Data\processed\medal_counts.csv', index=False)
programs_df.to_csv(r'D:\mcm2025\data\2025_Problem_C_Data\2025_Problem_C_Data\processed\programs.csv', index=False)

In [26]:
# 检查保存的数据集
athletes_df = pd.read_csv(r'D:\mcm2025\data\2025_Problem_C_Data\2025_Problem_C_Data\processed\athletes.csv')
hosts_df = pd.read_csv(r'D:\mcm2025\data\2025_Problem_C_Data\2025_Problem_C_Data\processed\hosts.csv')
medal_counts_df = pd.read_csv(r'D:\mcm2025\data\2025_Problem_C_Data\2025_Problem_C_Data\processed\medal_counts.csv')
programs_df = pd.read_csv(r'D:\mcm2025\data\2025_Problem_C_Data\2025_Problem_C_Data\summerOly_programs.csv', encoding='ISO-8859-1')

# 尝试将所有列转换为适当的数据类型
for column in programs_df.columns[4:]:
    programs_df[column] = pd.to_numeric(programs_df[column], errors='coerce')

# 使用0填充所有缺失值
programs_df.fillna(0, inplace=True)

programs_df.to_csv(r'D:\mcm2025\data\2025_Problem_C_Data\2025_Problem_C_Data\processed\programs.csv', index=False)