# 导入所需库
导入pandas和numpy等必要的库。

In [30]:
import pandas as pd
import numpy as np
import openpyxl

# 确保显示所有列
pd.set_option('display.max_columns', None)

# 加载数据
使用pandas加载athletes.csv数据文件。

In [33]:
# 加载数据

# 使用pandas加载athletes.csv数据文件
athletes_df = pd.read_excel(r'D:/mcm2025/data/raw/changed_athletes.xlsx')

# 显示前几行数据以确认加载成功
athletes_df.head()

,Name,Sex,Team,NOC,Year,City,Sport,Event,Medal
0,A Dijiang',M',China',CHN',1992,Barcelona',Basketball',Basketball Men''s Basketball',No medal'
1,A Lamusi',M',China',CHN',2012,London',Judo',Judo Men''s Extra-Lightweight',No medal'
2,Gunnar Aaby',M',Denmark',DEN',1920,Antwerpen',Football',Football Men''s Football',No medal'
3,Edgar Aabye',M',Denmark/Sweden',DEN',1900,Paris',Tug-Of-War',Tug-Of-War Men''s Tug-Of-War',Gold'
4,Cornelia (-strannood)',F',Netherlands',NED',1932,Los Angeles',Athletics',Athletics Women''s 100 metres',No medal'

# 数据预处理
对数据进行清洗和预处理，包括处理缺失值和数据类型转换。

In [ ]:
# 替换所有不需要的英文单引号（确保这不会影响到需要的单引号，如遇到连续两个单引号的情况保留一个）
athletes_df = athletes_df.replace(to_replace=r"(?<!')'(?!')", value="", regex=True)
athletes_df = athletes_df.replace(to_replace=r"''", value="'", regex=True)

athletes_df

,Name,Sex,Team,NOC,Year,City,Sport,Event,Medal
0,A Dijiang,M,China,CHN,1992,Barcelona,Basketball,Basketball Men's Basketball,No medal
1,A Lamusi,M,China,CHN,2012,London,Judo,Judo Men's Extra-Lightweight,No medal
2,Gunnar Aaby,M,Denmark,DEN,1920,Antwerpen,Football,Football Men's Football,No medal
3,Edgar Aabye,M,Denmark/Sweden,DEN,1900,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,Cornelia (-strannood),F,Netherlands,NED,1932,Los Angeles,Athletics,Athletics Women's 100 metres,No medal
...,...,...,...,...,...,...,...,...,...
235303,Sefora Ada,F,Equatorial Guinea,GEQ,2024,Paris,Athletics,Women's 100m,No medal
235304,Emanuela Liuzzi,F,Italy,ITA,2024,Paris,Wrestling,Women's Freestyle 50kg,No medal
235305,Isayah Boers,M,Netherlands,NED,2024,Paris,Athletics,4 x 400m Relay Mixed,Gold
235306,Kevin Staut,M,France,FRA,2024,Paris,Equestrian,Jumping Team,Bronze
235307,Charlie Carvell,M,Great Britain,GBR,2024,Paris,Athletics,Men's 4 x 400m Relay,Bronze

In [35]:
# 保存数据
athletes_df.to_excel(r'D:/mcm2025/data/raw/changed_athletes.xlsx', index=False)

In [24]:
# 数据预处理

# 检查数据的基本信息
athletes_df.info()

# 检查缺失值
athletes_df.isnull().sum()

# 填充缺失值或删除缺失值
# 这里假设我们删除所有包含缺失值的行
athletes_df.dropna(inplace=True)

# 确认缺失值已处理
athletes_df.isnull().sum()

# 创建金、银、铜牌列
athletes_df['Gold'] = athletes_df['Medal'].apply(lambda x: 1 if x == 'Gold' else 0)
athletes_df['Silver'] = athletes_df['Medal'].apply(lambda x: 1 if x == 'Silver' else 0)
athletes_df['Bronze'] = athletes_df['Medal'].apply(lambda x: 1 if x == 'Bronze' else 0)

# 转换数据类型
# 假设年份是整数类型，国家和项目是字符串类型，奖牌数是整数类型
athletes_df['Year'] = athletes_df['Year'].astype(int)
athletes_df['Team'] = athletes_df['Team'].astype(str)
athletes_df['Event'] = athletes_df['Event'].astype(str)

# 添加总奖牌数列
athletes_df['Total'] = athletes_df['Gold'] + athletes_df['Silver'] + athletes_df['Bronze']

# 显示预处理后的数据
athletes_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235308 entries, 0 to 235307
Data columns (total 13 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Name    235308 non-null  object
 1   Sex     235308 non-null  object
 2   Team    235308 non-null  object
 3   NOC     235308 non-null  object
 4   Year    235308 non-null  int32
 5   City    235308 non-null  object
 6   Sport   235308 non-null  object
 7   Event   235308 non-null  object
 8   Medal   235308 non-null  object
 9   Gold    235308 non-null  int64
 10  Silver  235308 non-null  int64
 11  Bronze  235308 non-null  int64
 12  Total   235308 non-null  int64
dtypes: int32(1), int64(4), object(8)
memory usage: 22.4+ MB

,Name,Sex,Team,NOC,Year,City,Sport,Event,Medal,Gold,Silver,Bronze,Total
0,A Dijiang,M,China,CHN,1992,Barcelona,Basketball,Basketball Men's Basketball,No medal,0,0,0,0
1,A Lamusi,M,China,CHN,2012,London,Judo,Judo Men's Extra-Lightweight,No medal,0,0,0,0
2,Gunnar Aaby,M,Denmark,DEN,1920,Antwerpen,Football,Football Men's Football,No medal,0,0,0,0
3,Edgar Aabye,M,Denmark/Sweden,DEN,1900,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,1,0,0,1
4,Cornelia (-strannood),F,Netherlands,NED,1932,Los Angeles,Athletics,Athletics Women's 100 metres,No medal,0,0,0,0

# 按年份统计奖牌数
按年份统计金、银、铜牌数，并计算总奖牌数。

In [25]:
# 按年份统计奖牌数

# 按年份分组并统计金、银、铜牌数以及总奖牌数
medals_by_year = athletes_df.groupby('Year').agg({
    'Gold': 'sum',
    'Silver': 'sum',
    'Bronze': 'sum',
    'Total': 'sum'
}).reset_index()

# 显示按年份统计的奖牌数
medals_by_year

    Year  Gold  Silver  Bronze  Total
0   1896    62      43      38    143
1   1900   201     227     173    601
2   1904   173     163     150    486
3   1906   157     156     142    455
4   1908   293     279     250    822
5   1912   326     310     291    927
6   1920   493     448     357   1298
7   1924   274     277     269    820
8   1928   242     226     238    706
9   1932   228     211     202    641
10  1936   307     297     294    898
11  1948   275     265     276    816
12  1952   255     204     270    729
13  1956   233     219     242    694
14  1960   228     222     246    696
15  1964   280     228     278    786
16  1968   274     256     277    807
17  1972   280     322     351    953
18  1976   320     321     359   1000
19  1980   240     284     309    833
20  1984   450     472     467   1389
21  1988   368     414     426   1208
22  1992   463     485     536   1484
23  1996   570     542     566   1678
24  2000   583     585     602   1770
25  2004   614     596     574   1784
26  2008   620     616     641   1877
27  2012   579     579     620   1778
28  2016   612     623     661   1896
29  2020   758     696     836   2290
30  2024   743     744     794   2281

# 按国家统计奖牌数
按国家统计金、银、铜牌数，并计算总奖牌数。

In [26]:
# 按国家分组并统计金、银、铜牌数以及总奖牌数
medals_by_country = athletes_df.groupby('Team').agg({
    'Gold': 'sum',
    'Silver': 'sum',
    'Bronze': 'sum',
    'Total': 'sum'
}).reset_index()

# 显示按国家统计的奖牌数
medals_by_country

                       Team  Gold  Silver  Bronze  Total
0               30. Februar     0       0       0      0
1     A North American Team     0       0       4      4
2                       AIN     1       4       1      6
3                 Acipactli     0       0       0      0
4                   Acturus     0       0       0      0
...                     ...   ...     ...     ...    ...
1135                 Zambia     0       1       2      3
1136                Zefyros     0       0       0      0
1137               Zimbabwe    17       4       1     22
1138                    Zut     0       3       0      3
1139                   rn-2     0       0       0      0

[1140 rows x 5 columns]

# 按项目统计奖牌数
按项目统计金、银、铜牌数，并计算总奖牌数。

In [27]:
# 按项目统计奖牌数

# 按项目分组并统计金、银、铜牌数以及总奖牌数
medals_by_event = athletes_df.groupby('Event').agg({
    'Gold': 'sum',
    'Silver': 'sum',
    'Bronze': 'sum',
    'Total': 'sum'
}).reset_index()

# 显示按项目统计的奖牌数
medals_by_event

,Event,Gold,Silver,Bronze,Total
0,10m Air Pistol Men,2,2,2,6
1,10m Air Pistol Mixed Team,4,2,4,10
2,10m Air Pistol Women,1,2,2,5
3,10m Air Rifle Men,2,2,2,6
4,10m Air Rifle Mixed Team,4,4,2,10
...,...,...,...,...,...
1036,"Wrestling Women's Flyweight, Freestyle",4,4,7,15
1037,"Wrestling Women's Heavyweight, Freestyle",3,3,6,12
1038,"Wrestling Women's Light-Heavyweight, Freestyle",1,0,2,3
1039,"Wrestling Women's Lightweight, Freestyle",4,3,7,14
1040,"Wrestling Women's Middleweight, Freestyle",4,2,6,12

# 计算总奖牌数
计算每个国家、每个年份、每个项目的总奖牌数。

In [29]:
# 计算总奖牌数

# 按年份、国家、项目分组并统计金、银、铜牌数以及总奖牌数
medals_by_year_country_event = athletes_df.groupby(['Year', 'Team', 'Event']).agg({
    'Gold': 'sum',
    'Silver': 'sum',
    'Bronze': 'sum',
    'Total': 'sum'
}).reset_index()

# 显示按年份、国家、项目统计的奖牌数
medals_by_year_country_event

# 保存数据
medals_by_year_country_event.to_csv(r'D:/mcm2025/data/processed/medals_by_year_country_event.csv', index=False)